<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div id="app">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col" v-for='subject in subjects'>{{ subject.name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='names in students'>
            <td>{{ names.name }}</td>
            <td v-for='subject in subjects'>{{ getGrade(names.id, subject.id) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el:'#app',
        data:{
          students: [
            {id: 1, name:'Vance'},
            {id: 2, name:'Lexus'},
            {id: 3, name:'Carl'},
            {id: 4, name:'Tes'}
          ],
          subjects:[
            {id: 1, name:'WIS1'},
            {id: 2, name:'Capstone 1'},
            {id: 3, name:'SOC SCI'}
          ],
          grades:[
            {student_id: 1, subject_id: 1, grade: 90},
            {student_id: 2, subject_id: 1, grade: 89},
            {student_id: 3, subject_id: 1, grade: 70},
            {student_id: 4, subject_id: 1, grade: 65},
            {student_id: 1, subject_id: 2, grade: 90},
            {student_id: 2, subject_id: 2, grade: 89},
            {student_id: 3, subject_id: 2, grade: 70},
            {student_id: 4, subject_id: 2, grade: 65},
            {student_id: 1, subject_id: 3, grade: 90},
            {student_id: 2, subject_id: 3, grade: 89},
            {student_id: 3, subject_id: 3, grade: 70},
            {student_id: 4, subject_id: 3, grade: 65},
          ]
        },
        methods:{
          getGrade(student_id, subject_id){
            var grad = this.grades.find(function(grade){
                return grade.student_id == student_id && grade.subject_id == subject_id;
            });
            if(!grad){
              return "";
            }
            return grad.grade;
          }
        }
      })
    </script>
  </body>
</html>

